@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800;900&display=swap');

.container {
    text-align: center;
    height: 8rem;
    padding-top: 1rem;
}

.heading {
    word-wrap: break-word;
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    color: whitesmoke;
}


@media only screen and (max-width: 600px) {
    .container{
        height: 5rem;
    }

    .heading{
        font-size: 3rem;
    }
}